<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itesm.mx.expediciones_biosfera">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDARQrWR6PN26rtmEL-OX5ZIH6RZlUPCPc" />

        <activity android:name=".behavior.activities.AuthenticationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".behavior.activities.DrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".behavior.activities.DestinationListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".behavior.activities.DestinationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".behavior.activities.ReservationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".behavior.activities.ReservationCustomerDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".behavior.activities.AdminDrawerActivity"
            android:theme="@style/AdminNavDrawerTheme" />
        <activity android:name=".behavior.activities.ReservationAdminDetailActivity"
            android:theme="@style/AdminNavDrawerTheme"
            android:screenOrientation="portrait">
        </activity>

    </application>
</manifest>
